body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
    /*overflow: hidden;*/
}

header, section {
    min-height: 100vh;
    max-height: max-content;
    position: relative;
}

#wrapper {
    display: flex;
    /*background-color: black;*/
    background-color: #695b5b;
}

#main {
    flex: 1;
}

.inner {
    min-height: 100vh;
}

*::selection {
    background-color: #ef5a59;
    color: #eae6e6;
    text-shadow: 0 0 0.25em #0d0a0b;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background-image: url();*/
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-content {
    text-align: center;
}

header h1 {
    font-size: 48px;
    color: #fff;
}

header h2 {
    font-size: 24px;
    color: #fff;
}

nav {
    margin-top: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav a:hover {
    color: #ccc;
}

section {
    padding: 40px;
}

.container-background {
    background-color: #1D1C1C;
    border-radius: 10px;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 100%;
    text-align: center;
}

.arrow-container {
    display: inline-block;
}

.arrow {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.arrow:hover {
    color: #ccc;
}
/*Portfolio Section*/
.item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    contain: content;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

a.image {
    pointer-events: none;
}

.item > h3 {
    white-space: nowrap;
}
/*About Section*/
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon-container i {
    font-size: 2rem;
    margin: 0 10px;
}

.icon-container i:hover {
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

/*Contact Section*/


/*Footer section*/
footer ul {
    list-style-type: none;
}

footer {
    height: 3rem;
    width: 100%;
    background-color: #1D1C1C;
}