/*font-family: 'League Spartan', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

header, section {
    min-height: 40vh;
    max-height: max-content;
    position: relative;
    padding: 40px;
}

#wrapper {
    display: flex;
    background-color: #695b5b;
}

#main {
    flex: 1;
}

.inner {
    min-height: 100vh;
}

*::selection {
    background-color: #ff7070;
    color: #eae6e6;
    text-shadow: 0 0 0.25em #0d0a0b;
}

header {
    position: relative;
    width: 100%;
    height: 97vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-content {
    text-align: center;
}

header h1 {
    font-size: 48px;
    color: #fff;
    font-family: 'League Spartan', sans-serif;
}

header h2 {
    font-size: 24px;
    color: #fff;
}

h1 {
    font-family: 'League Spartan', sans-serif;
}

nav {
    margin-top: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav a:hover {
    color: #ccc;
}

.container-background {
    background-color: #1D1C1C;
    border-radius: 10px;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 100%;
    text-align: center;
}

.arrow-container {
    display: inline-block;
}

.arrow {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.arrow:hover {
    color: #ccc;
}
/*Portfolio Section*/
.portfolio-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info-hover:hover {
    cursor: pointer;
}

a.image {
    pointer-events: none;
}

.portfolio-item {
    display: flex;
}

.content-wrapper {
    display: flex;
}

.content-wrapper p {
    margin: 0;
}

.content-wrapper > svg {
    width: 640px;
    height: 640px;
    flex-shrink: 0;
    position: relative;
    top: -48px;
}

.tech {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
    align-items: center;
}

.tech p {
    background-color: #fff;
    box-shadow: 0 0 8px rgb(255 255 255 / 30%);
    color: #000!important;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .5em;
    transition: all 0.3s;
}

.tech p:hover {
    cursor: default;
    background-color: #ffffde;
    box-shadow: 6px 6px 8px rgb(255 255 255 / 30%);
    transition: all 0.4s;
}

.portfolio-content h3 {
    text-align: center;
}

.portfolio-content p {
    color: #ffffde;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.links a {
    text-decoration: none;
    color: white;
}

.links a:hover {
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.more-info-tab {
    cursor: pointer;
}
/*About Section*/
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon-container i {
    font-size: 2rem;
    margin: 0 10px;
}

.icon-container i:hover {
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.about-paragraph {
    text-indent: 2em;
    font-weight: 300;
}

/*Contact Section*/
.notification::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1;
    background-color: rgb(204, 35, 17);
    border: 3px solid #FFF;
    padding-top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: bounce 1s infinite
}

@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        transform: translate3d(0, 0, 0);
    }
    40%, 43% {
        transform: translate3d(0, -20px, 0);
    }
    70% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, -6px, 0);
    }
}

/*Footer section*/
footer ul {
    list-style-type: none;
}

footer {
    height: 5rem;
    width: 100%;
    background-color: #1D1C1C;
}

/*fixes portfolio section on smaller screens*/
@media (max-width: 992px) {
    .portfolio-item {
        flex-direction: column;
        margin-bottom: 2em;
    }

    .portfolio-items:last-of-type {
        padding-bottom: 0.5em;
    }

    .content-wrapper {
        flex-direction: column!important;
        align-items: center;
    }

    .content-wrapper > svg {
        width: 120%;
        height: auto;
        top: 0;
    }

    .tech {
        justify-content: center;
    }

    .portfolio-header {
        position: relative;
        bottom: -50px;
        font-size: 3em;
    }
}